@media (max-width: 768px){

    .envelope{
        width:90vw;
        height:60vw;
    }

    .letter{
        height:250px;
        padding:15px;
    }

    .letter h2{
        font-size:20px;
    }

    .letter p{
        font-size:14px;
        line-height:1.6;
    }

}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI,sans-serif;
}

body{
    background:#0f0f0f;
    overflow:hidden;
    position:relative;
}

.page{
    position:relative;
    z-index:1;

    display:none;
    width:100%;
    height:100vh;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align:center;
    padding:30px;
}

.active{
    display:flex;
}

h1,h2,p{
    color:rgb(255, 255, 255);
}

button{
    margin-top:25px;
    padding:12px 25px;
    border:none;
    border-radius:30px;
    cursor:pointer;
}

.sprinkles{
    position:fixed;
    inset:0;
    pointer-events:none;
    z-index:0;
}

.sprinkles::before,
.sprinkles::after{
    content:"";
    position:absolute;
    inset:0;
    pointer-events:none;
    z-index:0;

    background-image:
    radial-gradient(circle,#ff4d4d 2px,transparent 2px),
    radial-gradient(circle,#4dff88 2px,transparent 2px),
    radial-gradient(circle,#4da6ff 2px,transparent 2px),
    radial-gradient(circle,#ffd24d 2px,transparent 2px),
    radial-gradient(circle,#ff66cc 2px,transparent 2px);

    background-size:
    150px 150px,
    180px 180px,
    200px 200px,
    160px 160px,
    220px 220px;

    animation:floatSprinkles 30s linear infinite;
}

@keyframes floatSprinkles{

    from{
        transform:translateY(0);
    }

    to{
        transform:translateY(100px);
    }

}

/* AMPOP */

.envelope{
    width:min(90vw, 500px);
    height:min(65vw, 350px);
    position:relative;
    cursor:pointer;
}

.flap{
    position:absolute;
    width:100%;
    height:100%;
    background:#ff6f91;

    clip-path:
    polygon(
    0 0,
    100% 0,
    50% 60%
    );

    transform-origin:top;

    transition:.8s;
}

.letter{
    position:absolute;

    width:92%;
    height:280px;

    left:4%;
    top:10px;

    background:white;
    border-radius:10px;

    padding:20px;

    overflow-y:auto;

    transform:translateY(50px);
    transition:.8s;
}

.letter h2{
    color:#ff4d6d;
}

.letter p{
    color:#444;
    margin-top:10px;
}

.open .flap{
    transform:rotateX(180deg);
}

.open .letter{
    transform:translateY(-70px);
}

/* HADIAH */

.gift{
    font-size:100px;
    cursor:pointer;
    animation:bounce 1.5s infinite;
}

@keyframes bounce{
    50%{
        transform:translateY(-15px);
    }
}

#ending{
    display:none;
    margin-top:40px;
}
